<div class="col-md-3 admin-panel">
    <div class="panel panel-danger"> 
        <div class="panel-heading">Admin panel</div>

        <div class="panel-body">
            <div class="form-group">
                <label for="">After ID</label>
                <input type="number" class="form-control" ng-model="tableToAdd.after_id">
            </div>
            <div class="form-group">
                <label for="">Table name</label>
                <input type="text" class="form-control" ng-model="tableToAdd.table.name">
            </div>
            <div class="form-group">
                <label for="">Table ID</label>
                <input type="number" class="form-control" ng-model="tableToAdd.table.id">
            </div>
            <div class="form-group">
                <label for="">Participants</label>
                <input type="number" class="form-control" ng-model="tableToAdd.table.participants">
            </div>
            <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" ng-disabled="!(tableToAdd.table.name && tableToAdd.after_id && tableToAdd.table.participants)" ng-click="addTable()">Add</button>    
            <button type="button" class="btn btn-primary btn-sm" ng-disabled="!(tableToAdd.table.id && tableToAdd.table.name && tableToAdd.table.participants)" ng-click="updateTable()">Update</button>
            <button type="button" class="btn btn-primary btn-sm" ng-disabled="!(tableToAdd.table.id)" ng-click="removeTable()">Delete</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="subscribe()">{{subscribeBtn}}</button>
            </div>
        </div>
    </div>
</div>
