
<div class="admin-panel col-lg-3" ng-if="isAdmin === 'admin'">
<!--
    <button ng-click="createTable('add_table', 'table', 4)">Create T</button>
    <button ng-click="subscribe('subscribe_tables')">Subscribe</button>
    <button ng-click="subscribe('unsubscribe_tables')">Unsubscribe</button>
-->

    <div class="form-group">
        <label for="">After ID</label>
        <input type="number" class="form-control" ng-model="tableToAdd.after_id">
    </div>
    <div class="form-group">
        <label for="">Table name</label>
        <input type="text" class="form-control" ng-model="tableToAdd.table.name">
    </div>
    <div class="form-group">
        <label for="">Table ID</label>
        <input type="number" class="form-control" ng-model="tableToAdd.table.id">
    </div>
    
    <div class="form-group">
        <label for="">Participants</label>
        <input type="number" class="form-control" ng-model="tableToAdd.table.participants">
    </div>
    <button type="button" class="btn btn-primary btn-sm" ng-click="addTable(tableToAdd)">Add</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="subscribe('subscribe_tables')">Subscribe</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="subscribe('unsubscribe_tables')">Unsubscribe</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="removeTable()">Delete</button>
    
</div>