<div class="clearfix" ng-controller="lobbyCtrl" >
<!--   search table input -->
    <div class="form-group col-md-4" style="margin-left: 40px" ng-show="displaySearch">
        <input type="number" placeholder="Search table by ID" class="form-control" ng-change="delInput()" ng-model="search"/>
    </div>

    <div class="table-section col-md-8">
<!--       message is displayed when tableList is empty-->
        <div ng-show="tableListEmpty()" style="margin: 10px;">Table list is empty, please subscribe to display the list..</div>
<!--       filters by search and if in userState and also subscribed, only 16 tables are displayed -->
        <div class="table" ng-repeat="table in tableList | filter: {id: search} track by table.id" ng-show="$index <= maxList">
            <div class="t-name">{{table.name}}</div>
            <div class="t-players">Players: {{table.participants}} / 12</div>
            <span>{{table.id}}</span>
        </div>
    </div>
</div>