
<!--
<div class="login-wrap">
   <form ng-if="isAdmin === 'user'">
        <label>Login</label>
        <input type="text" ng-model="credentials.username">
        <label>Password</label>
        <input type="password" ng-model="credentials.password">
        <input type="button" value="Login" ng-click="aouthor()">
    </form>
    <div ng-show="isAdmin === 'admin'">Logged as ADMIN..</div>
</div>
-->


<div class="login form-inline form-group-sm pull-right" ng-if="isAdmin === 'user'">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" ng-model="credentials.username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" ng-model="credentials.password">
    </div>
    <button type="button" class="btn btn-primary btn-sm" ng-click="aouthor()">login</button>
</div>


<div ng-if="isAdmin === 'admin'" class="alert alert-success text-right" role="alert" >Logged in as <strong class="text-capitalize">{{isAdmin}}</strong></div>